@use 'variables';

body {
    background-color: variables.$cor-fundo;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variables.$cor-header;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }
}

.menu {
    display: flex;
    gap: 20px;

    li {
        list-style: none;

        a {
            color: variables.$cor-branca;
            text-decoration: none;
        }
    }
}